<div class="container mt-3">
    <h3>Add/Edit Category</h3>
    <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Id</label>
            <input class="form-control" type="text" placeholder="Readonly input here..." readonly>
        </div>
        <div class="form-group">
            <label for="inputCategoryName">Category Name</label>
            <input type="text" name="name" class="form-control" id="inputCategoryName"
                aria-describedby="CategoryNameHelp" [(ngModel)]="category.name" maxlength="50"
                #refCategoryName="ngModel" id="name" required>
            <small id="CategoryNameHelp" class="form-text text-muted"
                [hidden]="!refCategoryName.errors.required">Category is required
            </small>
        </div>
        <div class="form-group">
            <label for="inputCategoryDescription">Description</label>
            <input type="text" name="description" class="form-control" id="inputCategoryDescription"
                aria-describedby="DescriptionNameHelp" [(ngModel)]="category.description" maxlength="200"
                #refCategoryDescription="ngModel" id="description">
            <small id="CategoryDescriptionHelp" class="form-text text-muted"
                [hidden]="!refCategoryDescription.errors.required">Description is required
            </small>
        </div>
        <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">Submit</button>
        <a class="btn btn-info" [routerLink]="['/category/all']">Back</a>
    </form>
</div>