<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net47" />
  <package id="BarcodeLib" version="2.2.6" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net47" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net47" />
  <package id="Unity" version="5.9.7" targetFramework="net47" />
</packages>